<div class="row" style="width: 100vw; position: relative;margin-left: -50vw;left: 50%;height: 100%;">



  <div class="container-fluid">

      <p class="alert alert-success" *ngIf="infoMessage.length > 0">
          <strong>{{ infoMessage }}</strong>
      </p>

      <div class="row" style="height:547px">
      <div class="col-sm-2" style="background-color:lightgoldenrodyellow;">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="openModalforAdd()" style="background-color:orange;margin-left: 35px;margin-top: 15px;margin-bottom: 10px">+ Create ToDo</button>
           <!-- <p>{{ work_completed }}</p> -->
        
           <ul *ngFor="let hero of heroes">         
              <li>
              <a [routerLink]="" (click)="viewHead(hero._id)">{{ hero.listTitle }}</a> 
               &nbsp;
               <app-status-todo [childMessage]=hero._id [uploadSuccessDone]="uploadSuccess"></app-status-todo>
              
           
              <span style="float:right;">
              <a [routerLink]="" data-toggle="modal" (click)="showModal(hero)" style="color:olivedrab"><p><span class="glyphicon glyphicon-pencil">&#x270f;</span></p></a> 
              </span> 
              </li> 
            </ul>
         
      </div>
       
      <div class="col-sm-10" style="background-color:bisque;"> 
        
        <div  style="background-color:rgb(181, 204, 136);">
          <h2 style="margin: 15px">{{ headertodo }}</h2>
        </div>
        
        <div style="background-color:orange;">
            <form [formGroup]="subtitleForm">
            <input [(ngModel)]="headertodo_id" type="hidden" formControlName="headertodo_id" class="form-control" value="{{ headertodo_id }}">      
           
            <input *ngIf="headertodo_id" [(ngModel)]="subtitle" type="text" (keyup.enter)="addSubtitle()" formControlName="subtitle" class="form-control"  [value]="subtitle" placeholder="+ Add subtitle for to-do">     
            </form>  
        </div>
            
        <div *ngFor="let subtitle of listofsubtitles">
          <span *ngIf="subtitle.delete_subTitle == 0">
          <input type="checkbox" (change)="subtitleTaskDone(subtitle._id,subtitle.to_do_headtitleid)">
          {{ subtitle.sub_title }}
          <button (click)="openModalforEditSubtitle(subtitle)"  type="button" class="btn btn-primary btn-sm" style="margin:12px;">Edit</button>
          </span> 
           <br/>

          <span *ngIf="subtitle.delete_subTitle == 1">
          <input checked type="checkbox"(change)="undosubtitleTaskDone(subtitle._id,subtitle.to_do_headtitleid)" style="margin-right:7px">
          <del>{{ subtitle.sub_title }}</del> 
          <button on-click="subtitle_permanent_delete(subtitle)"  style="margin:7px" type="button" class="btn btn-danger btn-sm">Delete</button>
          </span> 
        </div>

      </div>

      </div>
  </div>
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Create new list</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
             
              <form [formGroup]="profileForm">
              <div class="modal-body">     
              <input type="text" formControlName="title_list" value="" class="form-control title_list" placeholder="List Name" required>
              <!-- <input [(ngModel)]="user_id" type="hidden" formControlName="user_id" class="form-control" value='{{ user_id }}'>   -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="onSubmit()">Save</button>  
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              </form>    
            </div>  
          </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editListHead" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit ToDo title</h4>
             

              <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form [formGroup]="editTodoTitleForm" >
            <div class="modal-body">     
            <input [(ngModel)]="title_list" type="text" formControlName="title_list" class="form-control" required>
            <input [(ngModel)]="_id" type="hidden" formControlName="_id" class="form-control" value='{{ _id }}'>  
            </div>

            <div class="modal-footer">    
              <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="submitEditHead()">Save</button>  
              <button type="button" class="btn btn-danger"  data-dismiss="modal" on-click="deleteHead()">Delete</button> 
            </div>

            </form>    
          </div>  
        </div>
    </div>


 
<!-- Modal -->
<div class="modal fade" id="editSubtitle" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Subtitle</h4>
       
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <form [formGroup]="editSubtitleForm" >
      <div class="modal-body">     
      <input [(ngModel)]="subtitle_edit" type="text" formControlName="subtitle_edit" class="form-control" required>
      <input [(ngModel)]="subtitle_id" type="hidden" formControlName="subtitle_id" class="form-control" value='{{ subtitle_id }}'>  
      <input [(ngModel)]="head_todo_id" type="hidden" formControlName="head_todo_id" class="form-control" value='{{ head_todo_id }}'>   
    </div>

      <div class="modal-footer">    
        <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="editSubtitleFormSubmit()">Save</button>  
      </div>

      </form>    
    </div>  
  </div>
</div>
 
  