<div class="row" style="width: 100vw; position: relative;margin-left: -50vw;left: 50%;height: 100%;">

  <div class="container-fluid">
      <div class="row">
      <div class="col-sm-2" style="background-color:yellow;">
          <ul>
              <li *ngFor="let hero of heroes">
                  <a [routerLink]="" (click)="viewHead(hero._id)">{{ hero.listTitle }}</a>
                  <!-- <a [routerLink]="" (click)="deleteTOdo(hero._id)">Edit</a>  -->
                   <!-- <a class="btn" data-toggle="modal" data-target="#editListHead">Edit</a> --> 
                   <a  class="btn" data-toggle="modal"  (click)="showModal(hero)">View</a> 
              </li>

          </ul>
          <!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">+ Create ToDo</button> -->
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="openModalforAdd()">+ Create ToDo</button>
        </div>
      
      
      <div class="col-sm-10" style="background-color:pink;"> 
        <div  style="background-color:gray;">
          <h2>{{ headertodo }}</h2>
        </div>
        <div style="background-color:white;">
            <form [formGroup]="subtitleForm">
            <input [(ngModel)]="headertodo_id" type="hidden" formControlName="headertodo_id" class="form-control" value="{{ headertodo_id }}"> 
            <input [(ngModel)]="subtitle" type="text" (keyup.enter)="addSubtitle()" formControlName="subtitle" class="form-control"  [value]="subtitle" placeholder="+ Add subtitle for to-do">     
             </form>  
        </div>
         
        <div *ngFor="let subtitle of listofsubtitles">
            <div class="checkbox">
                <label><input type="checkbox" (change)="subtitleTaskDone(subtitle._id,subtitle.to_do_headtitleid)">{{ subtitle.sub_title }}</label>
            </div>
        </div>

        <div *ngIf="!deleted_subtitles || deleted_subtitles.length > 0">
            <p style="color: red">Deleted list</p>
        </div>
        <div *ngFor="let subtitle of deleted_subtitles">  
          <div class="checkbox">
              <label><del><input type="checkbox"(change)="undosubtitleTaskDone(subtitle._id,subtitle.to_do_headtitleid)" >{{ subtitle.sub_title }}</del></label>
          </div>
        </div>
        

      </div>

      </div>
  </div>
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Create new list</h4>
              </div>
             
              <form [formGroup]="profileForm">
              <div class="modal-body">     
              <input type="text" formControlName="title_list" value="" class="form-control title_list" placeholder="List Name" required>
              <input [(ngModel)]="user_id" type="hidden" formControlName="user_id" class="form-control" value='{{ user_id }}'>  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="onSubmit()">Save</button>  
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              </form>    
            </div>  
          </div>
    </div>


    <div class="modal fade" id="editListHead" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit list</h4>
              <a data-dismiss="modal">Close</a>
            </div>

            <form [formGroup]="editTodoTitleForm" >
            <div class="modal-body">     
            <input [(ngModel)]="title_list" type="text" formControlName="title_list" class="form-control" required>
            <input [(ngModel)]="_id" type="hidden" formControlName="_id" class="form-control" value='{{ _id }}'>  
            </div>

            <div class="modal-footer">    
              <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="submitEditHead()">Save</button>  
              <button type="button" class="btn btn-default" data-dismiss="modal" on-click="deleteHead()">Delete</button> 
            </div>

            </form>    
          </div>  
        </div>
    </div>


 

 
  